.card{
    width: 238px;
    height: 106px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(53, 64, 82, 0.05);
    border-radius: 10px;
    padding-top: 21px;
    padding-left: 21px;

}
.title__card{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.09px;
    color: #272557;
}
.number{
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;
    text-align: right;
    letter-spacing: -0.219429px;
    text-transform: uppercase;
    color: #1565C0;
}
.bottom{
    text-align: right;
    padding-right: 23px;
    padding-top: 9px;
}